.steps ul {
    display: flex;
    position: relative;
}

.steps > ul { 
    padding: 0;
    margin: 0;
    list-style: none;
}

.steps ul li {
    width: 20.16%;
    margin-right: 10px;
}

.steps ul li.first a, .steps ul li.checked a {
    background: #f3d4b7;
    transition: all 0.5s ease;
}

.steps ul li a {
    display: inline-block;
    width: 100%;
    height: 7px;
    background: #e6e6e6;
    border-radius: 3.5px;
}

.invisible {
	opacity : 0;
}
.bootstrap-tagsinput .twitter-typeahead {
  display: inline-block !important;
}

.bootstrap-tagsinput .twitter-typeahead .tt-menu {
  margin-top: 20px;
  min-width: 180px;
}

.twitter-typeahead {
  display: block !important;
}

.tt-menu {
  background-color: #fff;
  right: 0;
  margin-top: 2px;
  border-radius: 2px;
  border: 1px solid #f1f2f3;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
}

.tt-suggestion {
  display: block;
  margin: 4px;
  padding: 6px 12px;
  cursor: pointer;
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;
}

.tt-suggestion.tt-cursor, .tt-suggestion:hover, .tt-suggestion:focus {
  background-color: #f9fafb;
}

.typeahead-scrollable .tt-menu {
  max-height: 220px;
  overflow-y: auto;
}

[v-cloak] {
  opacity : 0;
}

.whenReady{ transition: all 2s; }

.card.selected {
  transform : scale(1.01); 
  border : 1px solid $pantone-color; 
}

.input-transparent {
  background-color: transparent !important;
  border: 0px solid !important;
  box-shadow : none !important;
  &:focus {
    outline: none !important;
  }
}

.btn.m-btn--label-brand {
    color: $pantone-color;
}

.navbar-brand {
  height: 70px;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center
}

body .angles {
  width: 100%;
  height: 500px;
  overflow: hidden;
  transform: skewY(-8deg);
  transform-origin: top left;
  position: absolute;
  box-shadow: inset 0 -10px 80px -10px rgba(0, 0, 0, 0.1);
  background: #dfe6e9;
}

.grey {
  background: #f9f9f9 !important; 
}

.how-it-works-portlet {
  border : none !important;
  box-shadow : none !important; 
} 

.zoom-svg {
  background-image : url('/svg/zoom.svg');
}

.hero .col-8 .row:not(:first-child){
  margin-top : 120px;
}

.hero .col-8 .row:not(:last-child){
  margin-bottom : 120px;
}

.slick-slide {
    outline: none !important;
}

.blockquote {
  font-size : 1.17188rem;
  text-align: center;
  margin: 0 0 1rem;
}

.lead-blockquote {
  font-size: 1.64063rem !important;
}

.blockquote p::before {
    content: "“";
    margin-left: -13px;
    padding-right: 4px;
}

.blockquote p::after {
    content: "”";
    margin-right: -13px;
    padding-left: 4px;
}

.blockquote footer {
  color: #757575;
  font-size: 0.875rem;
  margin-top: 1.5rem;
}

.blockquote footer::before {
    content: '\2014';
    margin-right: 0.5rem;
}

.avatar {
  border-radius: 10rem;
  width: 48px;
  height: 48px;
}

#call-to-action hr {
  border-top-color: rgba(117,117,117,0.09);
  margin: 2rem auto;
}

.w-5 {
    width: 5% !important;
}

.section {
    position: relative;
    border-bottom: none;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.avatar-xl {
    width: 64px;
    height: 64px;
}

.avatar-xxl {
    width: 128px;
    height: 128px;
}

.m-form__actions {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left : 15px;
    padding-right : 15px;
}

.d-none {
  display: none !important;
}

.is-invisible {
  visibility: hidden !important;
}

.show {
  display : block !important;
}

#infoAnnonce .row:not(:first-child){
  margin-top : 15px;
}

#infoAnnonce .row:not(:last-child){
  margin-bottom : 15px;
}
